$base-font-size-mobile: 14;
$base-font-size: 18;

body {
  background: $background-color;
  color: white;
  text-align: center;
  margin: 0;
  min-width: 300px;
  font-family: $sans-serif;
  font-size: $base-font-size-mobile * 1px;
  @include larger-than(mobile) {
    font-size: $base-font-size * 1px;
  }
}
