// Font stacks

$sans-serif: 'Reader', sans-serif;

// Nicer font rendering for Chrome and FF

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// @font-face imports
 
@font-face {
  font-family: Reader;
  src: url('../fonts/reader-regular-web.eot');
  src: url('../fonts/reader-regular-web.eot?#iefix') format('embedded-opentype'),
       url('../fonts/reader-regular-web.woff2') format('woff2'),
       url('../fonts/reader-regular-web.woff') format('woff'),
       url('../fonts/reader-regular-web.ttf')  format('truetype'),
       url('../fonts/reader-regular-web.svg#reader-regular-web') format('svg');
  font-weight: 400;
}

