.loading-screen {
  @extend .vc-overlay;
  display: none;
  z-index: 3;
  .loading & {
    display: table;
  }
}

.satellite-loader {
  @include aspect-ratio(465, 540);
  display: inline-block;
  animation: satellite 1s steps(4) infinite;
  width: 8em;
  transform: scale(0.5);
  background-image: url('/assets/images/satellite-loading.png');
  background-size: cover;
  background-position: 0 0;
}

@keyframes satellite {
   from { background-position: 0 0; }
   to { background-position: 0 -400%; }
}