.location-finder {
  @extend .vc-overlay;
  display: none;
  width: 100%;
  z-index: 4;
  .show-location-finder & {
    display: table; 
  }
  .location-finder-fields {
    text-align: left;
    padding: 0 2em;
    @include larger-than(mobile) {
      padding: 0 25%;
    }
  }
  label {
    display: block;
    font-size: 2em;
    margin-bottom: 0.25em;
  }
  input {
    font-size: 1em;
    font-family: inherit;
    background: transparent;
    color: inherit;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0.75em;
    width: 100%;
    &:focus {
      outline: 0;
      border-color: white;
    }
  }
}

.pac-container {
  background-color: transparent;
  box-shadow: none;
  font-family: inherit;
  border-radius: 0;
  border: 0;
  padding: 1em 0.75em 0;
  &:after {
    content: none;
  }
  .pac-item {
    font-size: 1em;
    border-top: none;
    padding: 0 0 1em;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      text-decoration: underline;
    }
  }
  .pac-icon-marker {
    display: none;
  }
  .pac-item-query {
    font-size: 1em;
    color: white;
  }
}
