.day-info-wrapper {
  display: flex;
  margin: 4em auto 0;
  padding: 0 1.5em;
  max-width: 30em;
  @include larger-than(mobile) {
    width: 50%;  
    padding: 0;
  }
}

.day-info {
  flex-grow: 1;
  padding: 0 2em;
}

.day-info-date {
  font-size: 1em;
  margin: 0 0 1em;
}
.day-info-phase-name {
  font-size: 1.5em;
  margin: 0;  
}

.day-info-prev,
.day-info-next {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  font-size: 1.5em;
  opacity: 0.75;
  width: 1em;
  flex-shrink: 0;
  &[disabled],
  &[disabled]:hover {
    visibility: hidden;
  }
  &:hover {
    opacity: 1;
  }
  &:focus {
    outline: 0;
  }
}

