
// Updated icomoon mixin
$icons:(
  cloud-warning: "\e900",
  arrow-right: "\ea3c",
  arrow-left: "\ea40"
);

@mixin icon($iconName, $lineHeight: 1, $fontSize: inherit, $position: before){
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:#{$position}{
    font-family: 'icomoon';
    font-size: $fontSize;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: $lineHeight;
    content: map-get($icons, $iconName);
    @content;
  }   
}

// Create generic icon classes from the map using a for loop that will place the icon before element content
@each $iconName, $iconValue in $icons {

  .icon-#{$iconName} {
    @include icon($iconName, 1, 1em, before);
    &:before {
      margin-right: 0.5em;
    }
  }
}
